$green: #99e2d0;

$font-text: 'Roboto', sans-serif;


body {
    color: black;
    font-family: Roboto;
    margin: 0;
    // animation-duration: 1s;
    // animation-timing-function: ease-in-out;
    // animation-delay: 0s;
    // animation-iteration-count: 1;
    // animation-name: loadAnimation;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes move {
    to {
        z-index: -1;
        opacity: 0;
    }
}

@keyframes loadAnimation {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.top {
    display: flex;
    justify-content: center;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-name: loadAnimation;

    a {
        text-decoration: none;
        color: black;
        align-self: center;
        position: absolute;
        left: 20px;
        top: 20px;

        .fa-arrow-left {
            color: black;
            font-size: x-large;
        }
    }

    #logo {
        padding-top: 20px;
        width: 200px;
    }
}

.background {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // height: 200px;
    background-color: #f6f6f6;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-name: loadAnimation;

    .menu-title {
        margin-left: 20px;

        h3 {
            font-weight: normal;
        }
    }

    #image {
        object-fit: cover;
        width: 100%;
        height: 400px;

    }

    #image-2 {
        object-fit: cover;
        height: 300px;
    }

    .restaurant-name {
        display: flex;
        flex-direction: column;
        background-color: #f6f6f6;
        border-radius: 30px;
        position: relative;
        top: -40px;


        h2 {
            padding-left: 20px;
            font-family: Shrikhand;
            font-size: xx-large;
            margin-bottom: 0px;
            text-align: center;
        }

        h3 {
            margin-left: 20px;
            font-weight: normal;
            margin-top: 0px;
        }


        .hearts {
            position: absolute;
            bottom: -5px;
            right: 30px;
            fill: transparent;
            stroke: black;
            stroke-width: 20px;

            :hover,
            :active {
                cursor: pointer;
                animation: opacity 0.4s ease-in forwards;
                fill: url(#Gradient-2);
                stroke: transparent;

                #Gradient-2 {

                    .stop-1 {
                        stop-color: #9356DC;
                    }

                    .stop-2 {
                        stop-color: #FF79DA;
                        stop-opacity: 0;
                    }

                    .stop-3 {
                        stop-color: #9356DC;
                    }
                }
            }
        }
    }

    .nav-3 {
        margin-left: 15px;
        align-self: center;
        width: 90%;

        .food-card {
            width: 100%;
        }
    }

    .purple-2 {
        color: white;
        background: linear-gradient(#FF79DA, #9356DC);
        border-radius: 20px;
        border-top: #FF79DA;
        border-bottom: #9356DC;
        border-left: #FF79DA;
        border-right: #9356DC;
        width: 200px;
        height: 40px;
        align-self: center;
        margin-top: 10px;
        margin-left: 500px;

        a {
            color: white;
            text-decoration: none;
        }
    }
}

.food-details {
    box-sizing: border-box;
    height: 100px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 5px 10px #C0C0C0;
    align-items: center;
    display: flex;
    padding-left: 1.5em;
    cursor: pointer;
    list-style: none;
    font-family: $font-text;
    margin-bottom: 2%;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-name: loadAnimation;
    // animation-duration: 1s;
    // animation-timing-function: ease-in-out;
    // animation-delay: 0s;
    // animation-iteration-count: 1;
    // animation-name: loadAnimation;

    li {


        span {
            font-weight: lighter;
            font-size: 0.8em;
        }

        &:nth-child(1) {
            font-family: $font-text;
            font-weight: bold;
            flex: 1 1 auto;
            min-width: 0;
            font-size: large;
        }

        &:nth-child(2) {
            font-weight: bold;
            width: 70px;
            text-align: center;
            font-family: $font-text;
        }

        &:nth-child(3) {
            width: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 0px;
            height: 100%;
            color: transparent;
            background-color: $green;
            -webkit-transition: all 0.1s;
            transition: all 0.1s;

            i {
                font-size: 1.5em;
            }
        }
    }

    &:hover {
        >li:nth-child(3) {
            max-width: 100px;
            color: white;
            border-radius: 0 15px 15px 0px;

            i {
                animation: rotate 360;
                -webkit-animation: spin .4s;
                animation: spin .4s;
                transform: rotateZ(360deg);
                transition: 1.5s;


            }
        }
    }
}
footer {
    background-color: #363636;
    color: white;
    font-family: "Roboto", sans-serif;
    margin-top: 2%;
    width: 100%;
    background-color: #363636;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-name: loadAnimation;
    // animation-fill-mode: none;
}

@media screen and (max-width: 992px) and (min-width: 768px) {
    .background {
        .purple-2 {
            margin-left: 310px;
        }
    }
}

@media (max-width: 768px) {

    .background {

        #image {
            height: auto;
        }

        #image-2 {
            object-fit: cover;
            height: 300px;
        }

        .restaurant-name {

            h2 {
                text-align: left;
            }

        }

        .nav-3 {
            align-self: auto;
            width: auto;
        }

        .purple-2 {
            margin-left: 85px;
        }
    }

    .food-details {
        width: 350px;
    }

}